<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mart1017</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>shohinSearch</servlet-name>
    <servlet-class>mart1017.ShohinSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shohinSearch</servlet-name>
    <url-pattern>/mart1017/shohinSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>mart1017.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/mart1017/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>mart1017.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/mart1017/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kaiintouroku</servlet-name>
    <servlet-class>mart1017.Kaiintouroku</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kaiintouroku</servlet-name>
    <url-pattern>/mart1017/kaiintouroku</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kaiinhenkou</servlet-name>
    <servlet-class>mart1017.Kaiinhenkou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kaiinhenkou</servlet-name>
    <url-pattern>/mart1017/kaiinhenkou</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shouhinsyousai</servlet-name>
    <servlet-class>mart1017.Shouhinsyousai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shouhinsyousai</servlet-name>
    <url-pattern>/mart1017/shouhinsyousai</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shohinsort</servlet-name>
    <servlet-class>mart1017.Shohinsort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shohinsort</servlet-name>
    <url-pattern>/mart1017/shohinsort</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartadd</servlet-name>
    <servlet-class>mart1017.CartAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartadd</servlet-name>
    <url-pattern>/mart1017/cartadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartdelete</servlet-name>
    <servlet-class>mart1017.CartDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartdelete</servlet-name>
    <url-pattern>/mart1017/cartdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kounyuu</servlet-name>
    <servlet-class>mart1017.Kounyuu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kounyuu</servlet-name>
    <url-pattern>/mart1017/kounyuu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviewjyunbi</servlet-name>
    <servlet-class>mart1017.ReviewJyunbi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewjyunbi</servlet-name>
    <url-pattern>/mart1017/reviewjyunbi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviewinsert</servlet-name>
    <servlet-class>mart1017.ReviewInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewinsert</servlet-name>
    <url-pattern>/mart1017/reviewinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartupdate</servlet-name>
    <servlet-class>mart1017.CartUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartupdate</servlet-name>
    <url-pattern>/mart1017/cartupdate</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>riyousyaSearch</servlet-name>
    <servlet-class>mart1017.RiyousyaSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>riyousyaSearch</servlet-name>
    <url-pattern>/mart1017/riyousyaSearch</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>riyousyaEdit</servlet-name>
    <servlet-class>mart1017.RiyousyaEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>riyousyaEdit</servlet-name>
    <url-pattern>/mart1017/riyousyaEdit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>riyousyaDelete</servlet-name>
    <servlet-class>mart1017.RiyousyaDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>riyousyaDelete</servlet-name>
    <url-pattern>/mart1017/riyousyaDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>csv</servlet-name>
    <servlet-class>mart1017.Csv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>csv</servlet-name>
    <url-pattern>/mart1017/csv</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>syouhinSearch</servlet-name>
    <servlet-class>mart1017.SyouhinSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>syouhinSearch</servlet-name>
    <url-pattern>/mart1017/syouhinSearch</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>syouhinInsert</servlet-name>
    <servlet-class>mart1017.SyouhinInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>syouhinInsert</servlet-name>
    <url-pattern>/mart1017/syouhinInsert</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>syouhinEdit</servlet-name>
    <servlet-class>mart1017.SyouhinEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>syouhinEdit</servlet-name>
    <url-pattern>/mart1017/syouhinEdit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>syouhinDelete</servlet-name>
    <servlet-class>mart1017.SyouhinDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>syouhinDelete</servlet-name>
    <url-pattern>/mart1017/syouhinDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>kanrisyaInsert</servlet-name>
    <servlet-class>mart1017.KanrisyaInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kanrisyaInsert</servlet-name>
    <url-pattern>/mart1017/kanrisyaInsert</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>minou</servlet-name>
    <servlet-class>mart1017.Minou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>minou</servlet-name>
    <url-pattern>/mart1017/minou</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>kanrisyaUpdate</servlet-name>
    <servlet-class>mart1017.KanrisyaUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kanrisyaUpdate</servlet-name>
    <url-pattern>/mart1017/kanrisyaUpdate</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>kanriLogout</servlet-name>
    <servlet-class>mart1017.KanriLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kanriLogout</servlet-name>
    <url-pattern>/mart1017/kanriLogout</url-pattern>
  </servlet-mapping>
</web-app>